/*
 Table Of Contents

 1.) Homepage

 ===============================================*/

/*
 1.) Homepage
 ----------------------------------------*/
/*-------------Banner-------------*/
.banner {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#33aae0+0,35abdf+1,3bacde+2,42addc+3,5bb0d6+8,71b6cc+15,8dbebc+26,b9cd95+47,d3d774+61,e6de52+73,efe234+80,f7e811+87,ffed00+94,ffed00+100 */
	background: #33aae0; /* Old browsers */
	background: -moz-linear-gradient(top, #33aae0 0%, #35abdf 1%, #3bacde 2%, #42addc 3%, #5bb0d6 8%, #71b6cc 15%, #8dbebc 26%, #b9cd95 47%, #d3d774 61%, #e6de52 73%, #efe234 80%, #f7e811 87%, #ffed00 94%, #ffed00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #33aae0 0%,#35abdf 1%,#3bacde 2%,#42addc 3%,#5bb0d6 8%,#71b6cc 15%,#8dbebc 26%,#b9cd95 47%,#d3d774 61%,#e6de52 73%,#efe234 80%,#f7e811 87%,#ffed00 94%,#ffed00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #33aae0 0%,#35abdf 1%,#3bacde 2%,#42addc 3%,#5bb0d6 8%,#71b6cc 15%,#8dbebc 26%,#b9cd95 47%,#d3d774 61%,#e6de52 73%,#efe234 80%,#f7e811 87%,#ffed00 94%,#ffed00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33aae0', endColorstr='#ffed00',GradientType=0 ); /* IE6-9 */
	position: relative;
}

.banner-content {
	width: 585px;
	z-index: 9;
}
.banner-content figure {
	margin: 0 0 18px;
}
.banner-content span {
	font-size: 20px;
	color: #3e3e3d;
	letter-spacing: -0.3px;
	margin-bottom: 27px;
}
.banner-content form {
	padding: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.51);
}
.banner-content .input-wrap, .select-wrap {
	width: 218px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.banner-content .btn {
	vertical-align: middle;
}
.banner-content .input-wrap select, .select-wrap select, .select-wrap .btn {
	font-size: 16px;
	font-weight: 700;
	color: #3d3e3d;
	padding: 0 35px 0 12px;
	background-color: #fff;
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
}
.banner-content .input-wrap i, .select-wrap i {
	position: absolute;
	right: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	pointer-events: none;
}
.select-wrap .btn-group {
	width: 100%;
}
.select-wrap .btn {
	width: 100%;
}
.ms-drop ul {
	max-height: none !important;
}
.ms-drop ul label {
	position: relative;
}
.ms-drop ul label input {
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	z-index: 2;
	opacity: 0;
}
.ms-drop ul label span {
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.ms-drop ul label span:after {
	position: absolute;
	content: '';
	right: 10px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	background-color: #3a3a39;
	top: 50%;
}
.ms-drop ul > li label {
	padding: 7px 10px;
	border-bottom: 1px solid #bebebe;
}
.ms-drop ul > li:last-child label {
	border-bottom: none;
}
.ms-drop ul {
	padding: 0;
}
.ms-drop ul label span:before {
	position: absolute;
	content: '';
	background-image: url(../images/sprite.png);
	background-position: -8px -51px;
	width: 15px;
	height: 12px;
	right: 14px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
	z-index: 3;
	display: none;
}
.ms-drop ul label input:checked + span:before {
	display: block;
}
.ms-choice {
	line-height: 40px;
	height: 40px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.ms-choice span {
	padding: 0 35px 0 12px;
	font-size: 16px;
	margin-bottom: 0 !important;
	line-height: 40px;
	display: inline-block !important;
	color: #3d3e3d;
}
.ms-drop {
	border: none;
	margin-top: -33px;
}
.aeroplane, .tree, .tree-two {
	position: absolute;
	left: 117px;
	top: 65px;
}
.banner .container {
	position: relative;
	padding: 113px 120px;
	min-height: 520px;
}
.tree {
	bottom: -42px;
	top: auto;
	left: 65px;
}
.tree-two {
	bottom: -151px;
	top: auto;
	right: 197px;
	left: auto;
}
.ninja-img {
	position: absolute;
	right: 25%;
	bottom: -6%;
}

/*-------place-wrap-------*/
.place-desc figure {
	line-height: 0;
	position: relative;
}
.place-desc figure i {
	position: absolute;
	width: 58px;
	height: 70px;
	left: 18px;
	bottom: -10px;
}
.place-desc figure img {
	width: 100%;
}
.place-info {
	padding: 24px 18px 7px;
	background-color: #3c3c3b;
}
.place-info h4 {
	margin-bottom: 10px;
}
.place-info li span {
	color: #fff;
	vertical-align: top;
	line-height: 1.2;
}
.place-info li {
	margin-bottom: 5px;
}
.place-info li i {
	width: 15px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}
.place-price {
	background-color: #31aade;
	padding: 10px 17px;
}
.place-price span, .place-price strong sub {
	color: #fff;
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
}
.place-price strong sub {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.place-price strong {
	font-size: 30px;
	font-family: 'Knewave', cursive;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1.1px;
}
.place-desc {
	float: left;
	width: calc(100%/5 - 42px);
	margin-right: 50px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.place-desc:hover, .listing-slider-info:hover, .booking-content:hover {
	box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);
}
.listing-slider-info, .booking-content {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.place-content .slick-list, .listing-slider .slick-list {
	padding: 20px 0;
}
.listing-slider .slick-list {
	padding: 20px 20px 8px;
	margin: 0 -20px;
}
.place-desc:last-child {
	margin-right: 0;
}
.place {
	position: relative;
	padding: 0 0 11px;
}
.place-content {
	position: relative;
	z-index: 2;
	margin: -144px -25px 0;
}
.place-price {
	position: relative;
}
.place-price:after, .place-price:before {
	position: absolute;
	content: '';
	background-image: url(../images/sprite.png);
	background-position: -12px -27px;
	width: 17px;
	height: 14px;
	background-repeat: repeat;
	right: 20px;
	bottom: 10px;
}
.place-price:before {
	right: 10px;
}
.place-content .slick-slide {
	margin: 0 25px;
}
.slick-arrow {
	font-size: 0;
	width: 36px;
	height: 36px;
	background-color: #3a3a39;
	display: inline-block;
	border: none;
	position: absolute;
	right: 25px;
	top: -21px;
}
.slick-prev {
	right: 67px;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.slick-arrow:after {
	position: absolute;
	content: '';
	background-image: url(../images/sprite.png);
	background-position: -14px -27px;
	width: 8px;
	height: 13px;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.addvertise-one {
	background-color: #beefff;
}
.addvertise-one figure {
	width: 69%;
	margin: 0 auto;
	line-height: 0;
	text-align: center;
}
.addvertise-two {
	padding: 42px 0 26px;
}

/*----------Listing-----------*/
.title h2 span {
	vertical-align: middle;
	position: relative;
}
.title h2 span:after {
	bottom: -4px;
	height: 3px;
	background-color: #3c3c3b;
	left: 0;
	width: 0;
	content: '';
	position: absolute;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.title h2 span:hover:after {
	width: 100%;
}
.title i {
	width: 41px;
	height: 41px;
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}
.listing-slider {
	width: 79.4%;
}
.listing-slider .slick-arrow {
	display: none !important;
}
.listing-slider-info figure, .listing-place {
	width: 50%;
}
.listing-slider-info figure {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.listing-slider-info figure img {
	object-fit: cover;
	width: 100%;
}
.listing-slider-info figure i {
	position: absolute;
	top: 0;
	left: 18px;
	width: 61px;
}
.listing-place {
	box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.1);
}
.listing-slider-info:nth-child(2n) {
	margin-right: 0;
}
.listing-place .place-info {
	background-color: #fff;
	padding: 25px 26px 8px;
}
.listing-place .place-info h4, .listing-place .place-info li span {
	color: #3c3c3b;
}
.listing-place .place-info h4 {
	margin-bottom: 18px;
}
.title h2 {
	margin-bottom: 04px;
}
.listing-place .place-info li i {
	width: 20px;
}
.listing-place .place-info li {
	margin-bottom: 10px;
}
.listing-place .place-price {
	padding: 13px 27px 19px;
}
.fly-add {
	width: 19.3%;
	position: relative;
	padding-top: 20px;
}
.listing-content {
	justify-content: space-between;
}
.flying-ninja {
	position: absolute;
	bottom: 95px;
	right: 3px;
}
.wheel-one, .wheel-two, .wheel-large {
	position: absolute;
	display: inline-block;
}
.wheel-one {
	top: 40.4%;
	right: 33%;
	width: 68px;
}
.wheel-two {
	right: 46px;
	top: 52.6%;
	width: 39px;
}
.wheel-large {
	bottom: -45px;
	right: -18px;
	width: 106px;
}

.listing {
	background-image: url(../images/listing-bg.png);
	background-position: center bottom;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 0 0 0;
}
.listing-place .place-price:after, .listing-place .place-price:before {
	bottom: 16px;
}

/*------------review--------------*/
.review-info {
	width: 78.9%;
}
.review-info h2 {
	color: #fff;
	margin: 0 0 10px 103px;
	word-spacing: 7px;
	display: inline-block;
	position: relative;
}
.review-info h2:after {
	position: absolute;
	background-color: #e20211;
	left: 0;
	width: 0;
	content: '';
	bottom: 0px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	height: 3px;
}
.review-info h2:hover:after {
	width: 100%;
}
.review-info h2 span {
	color: #e20211;
	margin-bottom: 10px;
}
.review-descriprion h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.review-descriprion span {
	color: #fff;
	margin-bottom: 5px;
}
.review-descriprion p {
	color: #fff;
	line-height: 20px;
	margin-bottom: 20px;
}
.review {
	background-color: #262626;
	padding: 69px 0 50px;
}
.review-descriprion {
	background-image: url(../images/review-bg.png);
	background-position: center top;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 60px 70px 20px 140px;
	border: 1px solid transparent;
	border-left-color: #131313;
	border-top-color: #131313;
}
.review .slick-dots {
	position: absolute;
	top: -40px;
	right: 51px;
}
.review .slick-dots li {
	display: inline-block;
	line-height: 0;
	width: 14px;
	height: 14px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #fff;
	margin-right: 8px;
	cursor: pointer;
}
.review .slick-dots li:last-child {
	margin-right: 0;
}
.review .slick-dots li.slick-active {
	background-color: #fff;
}
.review .slick-dots button {
	font-size: 0;
	border: none;
	background-color: transparent;
	display: none;
}
.review .slick-slide {
	margin-right: 50px;
}
.review-slider {
	margin-right: -50px;
}
.review-slider .btn {
	padding: 7px 0 0 0;
	min-height: 29px;
	min-width: 130px;
}
.review-content {
	position: relative;
	justify-content: space-between;
}
.review-ninja {
	position: absolute;
	left: -37px;
	top: 11px;
	z-index: 3;
	width: 132px;
}
.ninja-technique a {
	font-size: 18.89px;
	font-weight: 700;
	display: block;
	text-align: center;
	color: #fff;
	padding: 13px 0 12px;
	letter-spacing: 1px;
}
.follow-ninja h3 {
	margin-bottom: 22px;
	position: relative;
}
.follow-ninja h3:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: -4px;
	height: 3px;
	background-color: #fff;
	width: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.follow-ninja h3:hover:after {
	width: 100%;
}
.ninja-technique li {
	border-top: 1px solid #fff;
}
.social-icon li {
	display: inline-block;
	margin-right: 16px;
	line-height: 1;
}
.social-icon li:last-child {
	margin-right: 0;
}
.follow-ninja {
	align-self: flex-end;
	margin: 0 7px 2px 0;
}

.ninja-technique {
	margin-bottom: 40px;
}

/*-------Join club------*/
.join-club {
	background-color: #c3040c;
	padding: 25px 0 21px;
}
.join-content {
	align-items: center;
	padding: 0 10px;
}
.join-info {
	margin-right: auto;
}
.join-content h2 {
	color: #fff;
	margin: 0;
	position: relative;
}
.join-content h2:after {
	content: '';
	position: absolute;
	bottom: -6px;
	height: 3px;
	background-color: #fff;
	width: 0;
	left: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.join-content h2:hover:after {
	width: 100%;
}
.join-content h2 span {
	color: #3c3c3b;
}
.join-content p {
	color: #fff;
	margin: 7px auto 0 50px;
	letter-spacing: 0.1px;
}
.join-content .input-wrap {
	width: 356px;
	margin-right: 15px;
}
.join-content .input-wrap input {
	font-size: 16px;
	color: #3c3c3b;
	height: 41px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.join-content input::-webkit-input-placeholder {
	color: #3c3c3b;
	opacity: 1;
}
.join-content input:-moz-placeholder {/* Firefox 18- */
	color: #3c3c3b;
	opacity: 1;
}
.join-content input::-moz-placeholder {/* Firefox 19+ */
	color: #3c3c3b;
	opacity: 1;
}
.join-content input:-ms-input-placeholder {
	color: #3c3c3b;
	opacity: 1;
}

/*-------travel-news------*/
.latest-news {
	flex-basis: 175px;
}
.latest-news figure {
	background-color: #fff;
	min-height: 85px;
}
.news-info h5 {
	border-bottom: 1px solid #3a3a39;
	padding-bottom: 10px;
	margin-bottom: 7px;
}
.news-info p {
	line-height: 17px;
	letter-spacing: 0.6px;
}
.news-content {
	padding: 20px 10px 20px 0;
}
.news-slider li {
	background-color: #3a3a39;
	padding: 23.3px 23px 15px;
	position: relative;
}
.news-slider li:after {
	position: absolute;
	content: '';
	right: 0;
	width: 1px;
	height: 82%;
	background-color: #555555;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.news-slider figure {
	margin-bottom: 12px;
	position: relative;
}
.news-slider figure i {
	position: absolute;
	width: 168px;
	height: 57px;
	background-color: #fff;
	top: 1px;
	left: 1px;
}
.news-slider figure i img {
	width: auto !important;
	min-height: auto !important;
}
.news-slider li p {
	color: #fff;
	font-weight: 700;
	line-height: 17px;
	text-transform: uppercase;
}
.news-slider {
	width: 80.8%;
}
.news-info {
	background-color: #e5e4e4;
	padding: 12px 20px 12px 19px;
	min-height: 166px;
}
.news-advertise {
	width: 40%;
	justify-content: space-between;
}
.news-slider .slick-arrow {
	right: 41px;
	top: auto;
	bottom: 58px;
	z-index: 9999;
}
.news-slider .slick-prev {
	right: 81px;
}
.travel-news {
	background-color: #f1f1f1;
}
.news-description {
	width: 57.4%;
	margin-right: auto;
}
.news-slider .slick-slider, .news-slider .slick-list, .news-slider .slick-track, .news-slider li, .slick-slide > div {
	height: 100%;
}
/*-------booking list------*/
.booking-content {
	background-color: #fff;
	padding: 35px 0;
	position: relative;
}
.booking-content h4 {
	color: #569feb;
	text-transform: uppercase;
	margin: 0;
	font-size: 18px;
}
.booking-content h4 a {
	color: #569feb;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
}
.booking-content li h4 a:hover {
	color: #3c3c3b;
}
.booking-content h4 a:after {
	bottom: 0px;
	height: 1px;
	background-color: #3c3c3b;
	content: '';
	left: 0;
	width: 0;
	position: absolute;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.booking-content li h4 a:hover:after {
	width: 100%;
}
.booking-content span {
	color: #3c3c3b;
	display: inline-block;
}
.booking-content li {
	padding: 14px 0;
	border-bottom: 2px solid #a1a1a1;
}
.booking-content li:last-child {
	border-bottom: none;
}
.booking-content i {
	width: 126px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 126px;
	position: absolute;
	display: inline-block;
	top: -70px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
}
.booking-list {
	background-color: #5fb2d7;
	padding: 64px 0 104px;
}
.booking-list .slick-slide {
	margin: 0 25px;
}
.booking-content ul {
	width: 190px;
	margin: 0 auto;
	padding-left: 5px;
}
.booking-list .slick-list {
	padding-top: 82px;
}
.booking-slider {
	margin: 0 -25px;
}
.booking-list .addvertise-two {
	padding-top: 22px;
}
.booking-slider .slick-list {
	padding-bottom: 20px;
}
.booking-price span:first-child {
	padding-right: 23px;
	border-right: 1px solid #a1a1a1;
	margin-right: 10px;
}
.booking-price span.md-color {
	color: #000;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 10px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.show {
	display: block !important;
}
.open > .dropdown-menu {
	display: block;
}
.select-wrap span {
	margin: 0 !important;
	font-size: 16px;
	font-weight: 700;
	display: block !important;
	color: #3d3e3d;
}
.select-wrap span small {
	font-weight: 400;
}
.dropdown-menu a {
	display: block;
	padding: 0 10px;
}
.select-wrap .btn {
	display: flex;
	align-items: center;
	text-transform: capitalize;
	min-height: auto;
}
.select-wrap .btn:hover {
	opacity: 1;
}
.select-wrap .small, .select-wrap small {
	font-size: 85%;
}
.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	padding: 0;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
	position: relative;
	padding: 5px 0;
	border-bottom: 1px solid #bebebe;
}
.bootstrap-select.btn-group .dropdown-menu li:last-child {
	border-bottom: none;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.bootstrap-select > select {
	position: absolute !important;
	bottom: 0;
	left: 50%;
	display: block !important;
	width: 0.5px !important;
	height: 100% !important;
	padding: 0 !important;
	opacity: 0 !important;
	border: none;
}

/*----------Menu----------*/
.menu-wrap {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
	padding-right: 17px;
}
.hidden .content {
	min-height: 3000px;
	overflow: auto;
}
.menu-wrap-active {
	z-index: 99999;
	background-color: #3c3c3b;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}
.menu-list a {
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.menu-list li {
	position: relative;
	top: -20px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	visibility: hidden;
	opacity: 0;
}
.menu-list li:nth-child(2) {
	top: -25px;
}
.menu-list li:nth-child(3) {
	top: -30px;
}
.menu-list li:nth-child(4) {
	top: -35px;
}
.menu-list li:nth-child(5) {
	top: -40px;
}
.menu-list li:nth-child(6) {
	top: -45px;
}
.menu-list li:nth-child(7) {
	top: -50px;
}
.menu-wrap-active .menu-list li {
	transition-delay: 0.3s;
	opacity: 1;
	visibility: visible;
	top: 0 !important;
}
.menu-wrap-active .menu-list li:nth-child(2) {
	transition-delay: 0.4s;
}
.menu-wrap-active .menu-list li:nth-child(3) {
	transition-delay: 0.5s;
}
.menu-wrap-active .menu-list li:nth-child(4) {
	transition-delay: 0.6s;
}
.menu-wrap-active .menu-list li:nth-child(5) {
	transition-delay: 0.8s;
}
.menu-wrap-active .menu-list li:nth-child(6) {
	transition-delay: 01.0s;
}
.menu-wrap-active .menu-list li:nth-child(7) {
	transition-delay: 1.2s;
}
.menu-list a:hover {
	color: #37b2e9;
	transition-delay: 0s !important;
}
.menu-list a:hover:after {
	width: 35px;
}
.menu-list a:after {
	bottom: -7px;
	left: 0px;
	position: absolute;
	content: '';
	height: 4px;
	width: 0px;
	background-color: #37b2e9;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.menu-list li {
	margin-bottom: 27px;
}
.menu-list li:last-child {
	margin-bottom: 0;
}
.menu-content {
	width: 400px;
	margin: 13.2% 0 0;
}
.menu-list {
	margin-bottom: 40px;
}
.menu-content .social-icon li {
	margin-right: 20px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.menu-wrap-active .menu-content .social-icon li {
	transition-delay: 0.3s;
	opacity: 1;
	visibility: visible;
}
.menu-content .social-icon li:last-child {
	margin-right: 0;
}
.animation-block {
	position: absolute;
	z-index: -1;
	top: 75px;
	right: 20.5%;
	width: 120px;
	height: 50px;
	transform: translate3d(48px,-38px,0) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
	visibility: hidden;
}
.inner-menu .animation-block {
	top: 104px;
}
.animation-block.ani {
	transform: translate3d(25px,40px,0) scale3d(35,55,1);
	transition-delay: 0s;
	visibility: visible;
}
.menu-stick.header {
	background-color: transparent;
	transition-delay: 0.2s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}
.menu-stick .menu-hamburger {
	border: 1px solid #fff;
}
.menu-stick .logo {
	visibility: visible;
	opacity: 1;
	z-index: 1;
	-webkit-transition: all 1.0s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
	transition-delay: 0.2s;
}
.hidden, .hidden body {
	overflow: hidden;
}
.hidden body {
	padding-right: 17px;
}
.close-text {
	display: none;
}
.menu-text {
	display: inline-block;
}
.hamburger-active .close-text {
	display: inline-block;
}
.hamburger-active .menu-text {
	display: none;
}
.hamburger-active .hamburger span:first-child {
	visibility: hidden;
	opacity: 0;
}
.hamburger-active .hamburger span:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 8px;
}
.hamburger-active .hamburger span:last-child {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 8px;
}

#sticky-add.sticky {
	position: fixed;
	z-index: 99;
	top: 101px;
}
.sticky-banner {
	position: fixed;
	bottom: -100%;
	width: 100%;
	background-color: #beefff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 9999;
}
.sticky-add {
	bottom: 0;
}
.sticky-banner .container {
	position: relative;
}
.close-banner {
	width: 44px;
	background-color: #beefff;
	height: 44px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	position: absolute;
	top: -27px;
	right: 15%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/*---------about page----------*/
.about-banner {
	overflow: hidden;
}
.about-banner .banner-content {
	width: 520px;
}
.about-info p {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 40px;
	color: #3d3e3d;
	letter-spacing: 0.15px;
}
.about-info h2 em {
	color: #33aadf;
}
.ninja-arrived {
	font-size: 20px;
	display: block;
	margin: 0 0 10px;
}
.email-content {
	background-color: #31aade;
	padding: 19px 16px 13px;
}
.email-content h4 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 15px;
}
.email-content h4 span {
	color: #3a3a39;
}
.email-form input, .email-form textarea {
	font-size: 16px;
	color: #fff;
	height: 38px;
	padding: 0 15px;
	background-color: #4dbbea;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.email-form textarea {
	height: 85px;
	border: none;
	width: 100%;
	padding: 10px 16px;
}
.email-form li {
	margin-bottom: 10px;
}
.email-form li .btn {
	min-width: 100%;
	min-height: 30px;
	padding: 5px;
	font-size: 14px;
}
.email-form input::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
.email-form input:-moz-placeholder {/* Firefox 18- */
	color: #fff;
	opacity: 1;
}
.email-form input::-moz-placeholder {/* Firefox 19+ */
	color: #fff;
	opacity: 1;
}
.email-form input:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

.email-form textarea::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
.email-form textarea:-moz-placeholder {/* Firefox 18- */
	color: #fff;
	opacity: 1;
}
.email-form textarea::-moz-placeholder {/* Firefox 19+ */
	color: #fff;
	opacity: 1;
}
.email-form textarea:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}
.banner.about-banner .container {
	padding: 242px 120px 100px;
}
.about-banner .tree {
	bottom: -163px;
	top: auto;
	left: 39px;
}
.about-banner .tree-two {
	bottom: -142px;
	right: 193px;
}
.about-banner .ninja-img {
	right: 27.4%;
	bottom: -2.5%;
	width: 135px;
}
.flying-ninja-img {
	position: absolute;
	left: 17.7%;
	top: 7%;
	width: 308px;
}
.about-wrap {
	padding: 69px 0 63px;
}
.about-info .title {
	margin-bottom: 36px;
}
.about-info {
	flex-basis: 77%;
}
.email-wrap {
	width: 302px;
	margin-right: 10px;
	padding: 88px 0 0;
}
.about-content {
	justify-content: space-between;
}
.about-news {
	background-color: #f7f7f8;
}
.about-join.join-content {
	background-color: #c3040c;
	flex-basis: 47.1%;
	padding: 23px 15px 19px;
}
.about-news .news-advertise figure {
	width: 48%;
}
.about-join.join-content .input-wrap {
	width: 100%;
	margin: 0 0 12px;
}
.about-join.join-content h2 {
	margin: 0 0 21px;
}
.about-join.join-content .input-wrap input {
	height: 37px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #fff;
}
.about-join.join-content p {
	margin: 0 0 17px;
}
.about-join.join-content .btn-primary {
	min-width: 100%;
	min-height: 30px;
	padding: 4px;
}
.md-space {
	padding-bottom: 137px;
}
.emailwheel-one, .emailwheel-two, .emailwheel-large {
	position: absolute;
}
.email-wrap {
	position: relative;
}
.emailwheel-one {
	right: 48px;
	top: 0;
	width: 68px;
}
.emailwheel-two {
	right: 124px;
	top: 25px;
	width: 40px;
}
.emailwheel-large {
	right: -70px;
	top: 21px;
	z-index: -1;
	width: 106px;
}

/*-----Form page------*/

.inner-header {
	padding: 54px 0 43px;
	position: static;
	background: #33aae0;
	background: -moz-linear-gradient(top, #33aae0 0%, #35abdf 1%, #3bacde 2%, #42addc 3%, #5bb0d6 8%, #71b6cc 15%, #8dbebc 26%, #b9cd95 47%, #d3d774 61%, #e6de52 73%, #efe234 80%, #f7e811 87%, #ffed00 94%, #ffed00 100%);
	background: -webkit-linear-gradient(top, #33aae0 0%,#35abdf 1%,#3bacde 2%,#42addc 3%,#5bb0d6 8%,#71b6cc 15%,#8dbebc 26%,#b9cd95 47%,#d3d774 61%,#e6de52 73%,#efe234 80%,#f7e811 87%,#ffed00 94%,#ffed00 100%);
	background: linear-gradient(to bottom, #33aae0 0%,#35abdf 1%,#3bacde 2%,#42addc 3%,#5bb0d6 8%,#71b6cc 15%,#8dbebc 26%,#b9cd95 47%,#d3d774 61%,#e6de52 73%,#efe234 80%,#f7e811 87%,#ffed00 94%,#ffed00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33aae0', endColorstr='#ffed00',GradientType=0 );
}
.inner-header .logo {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}
.inner-header .banner-content {
	margin-top: 10px;
	z-index: 2;
}
.inner-header .tree-two {
	bottom: -112px;
	right: 311px;
	width: 200px;
}
.help {
	color: #3a3a39;
	align-self: center;
	margin: 0 0 0 12px;
	letter-spacing: 0.6px;
	width: 56%;
	line-height: 1.2;
}
.form-data {
	flex-basis: 55%;
}
.form-content h2 {
	color: #31aade;
	margin-bottom: 30px;
}
.from-group label {
	flex-basis: 100%;
	text-transform: uppercase;
	margin-bottom: 9px;
}
.from-group {
	flex-wrap: wrap;
	margin: 0 0 35px;
	position: relative;
}
.from-group .select-wrap {
	width: 360px;
}
.from-group .select-wrap .btn {
	background-color: #e8e7e7;
	height: 35px;
	padding: 0 35px 0 18px;
	text-transform: none;
}
.from-group  .select-wrap i {
	right: 24px;
}
.from-group .select-wrap span {
	font-weight: 400;
}
.from-group  .bootstrap-select.btn-group .dropdown-menu {
	background-color: #e8e7e7;
}
.booking-form {
	padding: 53px 0 0;
}
.form-content h2 i {
	width: 26px;
	height: auto;
	margin: 6px 7px 0 0;
}
.form-content .title h2 span::after {
	background-color: #31aade;
}
.form-content {
	margin: 0 0 37px;
	padding: 0 9px;
}
.file-upload {
	margin-bottom: 42px;
	position: relative;
}
.form-input {
	width: 360px;
	position: relative;
}
.fileinput-button {
	font-size: 14px;
	min-width: 125px;
	min-height: 25px;
	text-transform: none;
	border-radius: 30px;
	padding: 6px;
}
.toggle {
	display: none;
}
.fileupload-buttonbar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.fileupload-buttonbar label {
	width: 100%;
	margin-bottom: 12px;
}
.files .preview {
	padding: 0 0 0 15px;
}
.files td:nth-child(2) {
	order: 3;
}
.files td:nth-child(3) {
	order: 2;
}
.template-upload {
	display: flex;
	align-items: center;
}
.name {
	font-size: 14px;
	color: #3a3a39;
	padding: 11px 0 0 8px;
}
.name + strong {
	display: none;
}
.cancel {
	min-height: auto;
	min-width: auto;
	width: 12px;
	height: 12px;
	background-color: #3a3a39;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 0;
	padding: 0;
	font-size: 0;
	margin: 0 0 1px 0;
}
.files td {
	vertical-align: middle;
}
.cancel span {
	background-image: url(../images/sprite.png);
	background-position: -46px -128px;
	width: 8px;
	height: 9px;
}
.form-input .ms-choice {
	height: 35px;
}
.form-input .ms-choice span {
	line-height: 35px;
	font-weight: 400;
}
.form-input .ms-choice, .form-input .ms-drop {
	background-color: #e8e7e7;
}
.form-input .ms-drop li label {
	margin-bottom: 0;
}
.form-input i {
	position: absolute;
	right: 25px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.md-margin label {
	margin-bottom: 2px;
}
.form-input textarea {
	height: 206px;
	background-color: #e8e7e7;
	width: 100%;
	border: none;
	resize: vertical;
	padding: 10px;
}
.align-help {
	align-self: flex-start;
}
.form-input input::-webkit-input-placeholder {
	color: #3a3a39;
	opacity: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.form-input input:-moz-placeholder {/* Firefox 18- */
	color: #3a3a39;
	opacity: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.form-input input::-moz-placeholder {/* Firefox 19+ */
	color: #3a3a39;
	opacity: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.form-input input:-ms-input-placeholder {
	color: #3a3a39;
	opacity: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.flight-content h2 {
	margin: 0 0 9px;
}

#datepicker > span:hover {
	cursor: pointer;
}
.date-picker-wrap input.form-control {
	width: 100%;
	padding: 10px;
	background: #e8e7e7;
	color: #3a3a39;
	text-align: left;
}

.date-picker-wrap strong {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 12px;
	color: #9a9a9a;
	background: #ffffff;
	z-index: 3;
	height: 100%;
	text-align: left;
	display: block;
	padding: 10px 12px;
}
.date-picker-wrap strong {
	cursor: pointer;
}
.date-picker-wrap input.form-control:focus .date-picker-wrap strong {
	display: none;
}

.arrow {
	width: 13px;
	height: 13px;
	background: url("../images/down-arrow.png") no-repeat;
	display: inline-block;
}
.input-group-addon {
	display: inline-block;
	right: 0;
	width: auto;
	background: transparent;
	border: none;
	position: absolute;
	right: 6px;
	top: 5px;
	z-index: 3;
}
.datepicker.dropdown-menu {
	left: 0 !important;
	top: 33px !important;
	position: absolute !important;
	min-width: 260px;
	border: 1px solid #bfbfbf;
}
.datepicker-dropdown::after, .datepicker-dropdown::before {
	display: none !important;
}
.datepicker thead tr:first-child {
	position: relative;
}
.datepicker thead tr:first-child th.prev {
	position: absolute;
	right: 65px;
	top: 3px;
	font-size: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 1px solid #b1b1b1;
	height: 25px;
	width: 25px;
	background: url("../images/calendar-select.png") no-repeat center center #e9e9e9;
}
.datepicker thead tr:first-child th.next {
	font-size: 0;
	border: 1px solid #b1b1b1;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 3px;
	top: 3px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: url("../images/calendar-select-right.png") no-repeat center center #e9e9e9;
}
.datepicker .datepicker-days thead tr:first-child th.datepicker-switch {
	position: relative;
	left: -38px;
	top: 0;
	width: 100%;
	text-align: left;
	color: #000;
	background: url("../images/calendar-drop-down.png") no-repeat 58% 40%;
}
.datepicker .datepicker-days thead tr:nth-child(2) th {
	background: #f4f4f4;
	border-bottom: 2px solid #cfcfcf;
}
.datepicker .datepicker-days thead tr:nth-child(2) {
	border: 2px solid #4c8fff;
	border-bottom: none;
}
.datepicker .datepicker-days tbody tr td.day {
	color: #000;
	font-weight: 700;
}
.datepicker .datepicker-days tbody tr td.day.old, .datepicker .datepicker-days tbody tr td.day.new {
	color: #acacad;
}

.datepicker .datepicker-days tbody tr td.day.active, .datepicker tbody tr td span.month.active, .datepicker tbody tr td span.year.active {
	background: transparent;
	color: #000;
	border: 1px solid #b1b1b1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.datepicker tbody tr td span.year.active:hover, .datepicker tbody tr td span.month.active:hover {
	background: #08cc73;
	color: #000;
}
.datepicker .datepicker-days tbody {
	border: 2px solid #4c8fff;
	border-top: none;
}
.datepicker {
	padding: 7px 12px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.datepicker.dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
}
.datepicker table.table-condensed {
	width: 100%;
	position: relative;
}
.datepicker thead tr:first-child th.datepicker-switch {
	text-align: left;
}
.datepicker .datepicker-days thead tr:first-child th.datepicker-switch:hover {
	background: url("../images/calendar-drop-down.png") no-repeat 58% 40%;
}
.datepicker thead tr:first-child th.datepicker-switch:hover {
	background: transparent;
}
.datepicker table tr td span {
	height: 36px;
	line-height: 36px;
}
.datepicker thead tr:first-child th {
	padding: 7px 5px 17px;
}

.datepicker .datepicker-days thead tr:first-child th.current-m {
	height: 25px;
	width: 25px;
	border: 1px solid #b6b6b6;
	top: 3px;
	right: 34px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: absolute;
	background: url("../images/calendar-select-middle.png") no-repeat center center #ededed;
	font-size: 0;
}
.input-group-addon {
	display: block;
	width: 100%;
	text-align: right;
}
#datepicker {
	position: relative;
}
.input-group-addon {
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 20px;
}
.datepicker-dropdown {
	position: absolute;
	top: 0;
	left: 0;
}
.date-picker-wrap {
	position: relative;
	width: 185px;
}
.checkbox-wrap input[type="checkbox"] {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin: 0;
	opacity: 0;
	z-index: 2;
	position: relative;
}
.checkbox-wrap input[type="checkbox"]:checked + i:after {
	display: block;
}
.checkbox-wrap i {
	background-color: #3a3a39;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	top: 0;
}
.checkbox-wrap {
	position: relative;
}
.checkbox-wrap i:after {
	position: absolute;
	content: '';
	background-image: url(../images/sprite.png);
	background-position: -8px -51px;
	width: 15px;
	height: 12px;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	margin: 0 auto;
	display: none;
}
.checkbox-label {
	color: #3a3a39;
	font-size: 16px;
	vertical-align: middle;
	font-weight: 400;
	font-size: 16px;
	text-transform: none !important;
	margin: 0 0 0 3px !important;
	letter-spacing: 0.7px;
}
.flight-content .from-group {
	margin-bottom: 22px;
}
.checkbox-grp label {
	margin: 0 0 2px;
}
.flight-content {
	margin-bottom: 43px;
}
.hotel-content {
	margin-bottom: 48px;
}
.pricing-content {
	margin-bottom: 45px;
}
.btn-wrap {
	padding-left: 10px;
	margin: 0 0 79px;
}
.btn-wrap .btn {
	padding: 0;
	min-height: 33px;
	min-width: 268px;
}
.pagination a {
	font-size: 20px;
	color: #3c3c3b;
	font-weight: 700;
	display: block;
	padding: 1px 0 0 0;
}
.pagination li {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	margin-right: 2px;
	text-align: center;
}
.pagination li:last-child {
	margin-right: 0;
}
.pagination li.active {
	background-color: #feed02;
}
.pagination {
	padding-left: 10px;
}
.form-space {
	padding-bottom: 104px;
}
.hide {
	display: none;
}
.form-wrap {
	justify-content: space-between;
}
.form-flyimg .flying-ninja {
	bottom: auto;
	top: 42.2%;
	right: 44%;
}
.form-flyimg .wheel-large {
	bottom: auto;
	right: 18.7%;
	top: 52.2%;
}
.form-flyimg .wheel-two {
	right: 6px;
	top: 37.3%;
}
.form-flyimg .wheel-one {
	top: 31.9%;
	right: 41.3%;
}

/*------agent-page------*/
.inner-header .tree-three {
	bottom: -49px;
	right: 292px;
	width: 141px;
	position: absolute;
	z-index: 1;
}
.agent-addvertise {
	padding: 30px 0 14px;
}
.agent-addvertise img {
	margin: 0 auto;
}
.agent-area li {
	float: left;
	width: calc(100%/3 - 37px);
	width: -webkit-calc(100%/3 - 37px);
	margin: 0 55px 21px 0;
	box-shadow: 0 2px 10px 0 rgba(3, 20, 34, 0.04);
	border: 1px solid #e6e6e6;
}
.agent-area li:nth-child(3n) {
	margin-right: 0;
}
.agent-card {
	padding: 20px 6px;
}
.agent-card > div {
	padding: 0 6px;
}
.agent-title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	color: #3c3c3b;
}
.agent-img {
	align-self: center;
	width: 30%;
}
.agent-detail {
	width: 41.3%;
}
.agent-card address {
	font-size: 16px;
	color: #3a3a39;
	padding-left: 15px;
	position: relative;
	line-height: 1.3;
}
.agent-card .icon-map {
	background-position: -39px -7px;
	width: 10px;
	height: 14px;
	position: absolute;
	top: 0;
	left: 0;
}
.agent-link {
	align-self: flex-end;
	width: 25%;
}
.agent-wrap .title {
	margin-bottom: 42px;
}
.agent-wrap .title h2 {
	color: #3a3a39;
}
.agent-wrap .title i {
	width: 24px;
	height: 23px;
}
.agent-more {
	padding: 6px;
}
.agent-more .btn-primary {
	min-width: 268px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	color: #fff;
	text-transform: uppercase;
	padding: 9px;
}
/*blog page styles start*/
.blog-addvertise {
	padding: 35px 0 14px;
}
.title h2 .blue {
	color: #66c0e7;
	vertical-align: baseline;
}
.sort-select {
	align-self: center;
	width: 320px;
	margin: 0 4px 18px 0;
}
.sort-select .btn {
	width: 100%;
	border: 1px solid #484847;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #f5f5f5;
	text-align: center;
	display: block;
	padding: 0 35px 0 87px;
	text-transform: none;
	height: 32px;
}
.sort-select .open .btn, .sort-select .show .btn {
	background-color: #3c3c3a;
	-webkit-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}
.sort-select span {
	display: inline-block !important;
	font-size: 16px;
	color: #3c3c3b;
	font-weight: 400;
	line-height: 32px;
}
.sort-select .open span, .sort-select .show span {
	color: #fff;
}
.sort-select span.text {
	line-height: 1;
}
.sort-select strong {
	font-size: 15px;
	color: #3c3c3b;
	font-weight: 700;
	position: absolute;
	left: 12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	text-transform: uppercase;
}
.sort-select .bootstrap-select.btn-group .dropdown-menu li {
	text-align: center;
	border-top: 1px solid #fff;
	border-bottom: none;
	padding: 0;
}
.sort-select .bootstrap-select.btn-group .dropdown-menu li a {
	padding: 3px 32px 3px 80px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.sort-select .bootstrap-select.btn-group .dropdown-menu li a:hover {
	background-color: #232323;
}
.sort-select .open > .dropdown-menu, .sort-select .show > .dropdown-menu {
	min-width: 100%;
	margin: -2px 0 0 0;
	background: #3c3c3a;
	padding: 0;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}
.sort-select .open > .dropdown-menu span, .sort-select .show > .dropdown-menu span {
	color: #fff;
}
.sort-select .open + strong, .sort-select .show + strong {
	color: #fff;
}
.sort-select .open + strong + i, .sort-select .show + strong + i {
	background-position: -38px -31px;
}
.blog-wrap .title h2 {
	margin-bottom: 21px;
}
.blog-wrap .title i {
	width: 24px;
	height: 24px;
}
.blog-wrap figure {
	position: relative;
	z-index: 1;
}
.blog figure i {
	position: absolute;
	top: 0;
	left: 12px;
	width: 54px;
}
.blog figure img {
	width: 100%;
	display: block;
}
.blog figure a {
	display: block;
}
.blog-area ul {
	flex-wrap: wrap;
}
.blog-area li {
	width: calc(100%/3 - 37px);
	width: -webkit-calc(100%/3 - 37px);
	margin: 0 55px 52px 0;
	box-shadow: 0 4px 10px 0 rgba(3, 20, 34, 0.04);
	background-color: #fff;
}
.blog-area li.mr-0 {
	margin: 0 0 52px 0;
	display: flex;
}
.blog-body {
	padding: 13px 12px 16px;
	background-color: #fff;
}
.blog-body span {
	text-transform: capitalize;
	display: block;
}
.blog-body strong {
	display: block;
	line-height: 1.2;
}
.blog-body strong a {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
	color: #3c3c3b;
}
.blog-area .grey-bg {
	background-color: #eaeaea;
}
.blog-advertisement {
	padding: 53px 94px;
	position: relative;
	width: 100%;
	text-align: center;
}
.blog-advertisement a img {
	width: 100%;
}
.blog-advertisement i {
	position: absolute;
	z-index: 0;
}
.large-star {
	top: 23px;
	right: 38px;
	width: 91px;
	-webkit-transform: rotate(39deg);
	-moz-transform: rotate(39deg);
	-ms-transform: rotate(39deg);
	-o-transform: rotate(39deg);
	transform: rotate(39deg);
}
.medium-star {
	top: 186px;
	right: 23px;
}
.small-star {
	bottom: 5px;
	right: 71px;
}
.blog-area .w-100 {
	width: 100%;
	margin-right: 0 !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
}
.blog-area .w-100 figure img {
	margin: 0 auto;
	display: block;
}
.blog-more {
	margin: -18px 0 29px 0;
}
.bg-grey {
	background-color: #f5f5f5;
}
.blog-news .news-content {
	padding: 49px 10px 18px 0;
}

/*blog page styles end*/

/*------article-------*/
.article-ninja {
	font-size: 20px;
	color: #3a3a39;
}
.title-two i {
	width: 22px;
	height: 22px;
	margin: -6px 8px 0 -2px;
	vertical-align: middle;
}
.title-two h1 span {
	vertical-align: middle;
	letter-spacing: 1px;
}
.country-slider-wrap {
	width: 80%;
}
.country-featured {
	width: 19.1%;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
	background-color: #faf7f7;
}
.country-featured li {
	padding: 12px 32px 10px;
	border-bottom: 1px solid #cecccc;
}
.country-featured li strong, .country-featured li span, .country-featured li a {
	color: #3a3a39;
	line-height: 1;
}
.country-featured li strong {
	margin-bottom: 2px;
}
.featured-by-country {
	justify-content: space-between;
}
.country-slider .slick-arrow {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.country-slider .slick-prev:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	position: static;
}
.country-slider .slick-prev {
	left: 0;
}
.title-two {
	padding: 16px 0 15px;
}
.md-list {
	padding-left: 10px;
	position: relative;
	line-height: 1.1 !important;
}
.md-list + span {
	padding-left: 10px;
}
.md-list:after {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 6px;
	height: 6px;
	background-color: #3a3a39;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.country-slider .slick-slide {
	line-height: 0;
}
.title-three {
	margin-bottom: 5px;
}
.title-three h4 {
	font-weight: 700;
	color: #626262;
	margin: 0;
}
.title-three h4 i {
	width: 20px;
	margin-right: 5px;
	vertical-align: middle;
	display: inline-block;
}
.article-info p {
	font-size: 20px;
	color: #626262;
	line-height: 30px;
	margin-bottom: 34px;
	padding-right: 60px;
}
.article-description {
	flex-basis: 80%;
}
.article-content {
	padding: 55px 0 9px;
}
.article-list {
	margin: 0 0 65px 33px;
}
.article-list-two {
	margin: 0 0 0 49px;
}
.article-list-two li {
	list-style: decimal;
}
.article-list li, .article-list-two li {
	font-size: 20px;
	color: #626262;
	margin-bottom: 10px;
	padding-left: 16px;
	position: relative;
	line-height: 1;
}
.article-list li:after {
	position: absolute;
	content: '';
	height: 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 6px;
	background-color: #3c3c3b;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.article-list-two li {
	margin: 0 0 4px;
}
.article-list-two span {
	color: #626262;
	font-size: 20px;
	margin-right: 15px;
}
.article-info {
	padding-bottom: 52px;
}
.article-figure {
	width: 75%;
	margin-bottom: 52px;
}
.article-figure img {
	margin-bottom: 26px;
	width: 100%;
	display: block;
}
.article-figure figcaption {
	font-size: 20px;
	color: #626262;
	line-height: 30px;
	text-align: center;
	letter-spacing: 1px;
}
.player {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none;
}
.article-video {
	position: relative;
	width: 75%;
	margin: 0 0 26px;
}
.ytp-large-play-button.ytp-button {
	width: 100px !important;
	height: 100px !important;
	display: none;
}
.share-link span {
	color: #31aade;
	font-size: 25px;
	font-family: 'Knewave', cursive;
	vertical-align: middle;
	margin: 0 16px 0 0;
}
.share-link ul, .share-link li {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
.share-link li {
	margin-right: 8px;
}
#news-slider1 {
	width: 100%;
	margin-bottom: 30px;
}
.article-email .email-content {
	margin-bottom: 30px;
}
.article-add {
	margin-bottom: 33px;
}
.article-add img {
	width: 100%;
}
.news-slider figure img {
	width: 100%;
}
.article {
	flex-wrap: wrap;
}
.article-email {
	margin: 0 0 0 14px;
	padding: 44px 0 0;
}
#news-slider1 li {
	padding: 0 0 10px;
}
#news-slider1 li:after {
	display: none;
}
#news-slider1 li p {
	padding: 0 30px;
}
#news-slider1 .slick-arrow {
	right: 19px;
	bottom: 55px;
}
#news-slider1 .slick-prev {
	right: 60px;
}
.article-email .emailwheel-large {
	right: -68px;
	top: -22px;
}
.article-email .emailwheel-one {
	right: 48px;
	top: -43px;
}
.article-email .emailwheel-two {
	top: -20px;
}
.title h2 em {
	color: #31aade;
}
.more-holiday .title h2 {
	margin-bottom: 11px;
}
.more-holiday {
	width: 100%;
	padding: 124px 0 0;
}
.more-holiday .title i {
	width: 25px;
	height: 25px;
}
.article-area ul li {
	margin-bottom: 0;
}
.article-area ul li:last-child {
	margin-right: 0;
}
.article-area .slick-slide {
	margin: 0 25px;
}
.article-area {
	margin: 0 -35px;
}
.article-area .slick-list {
	padding: 10px;
}
.article-area .slick-arrow {
	top: -53px;
	right: 34px;
}
.article-area .slick-prev {
	right: 77px;
}
.blog figure {
	position: relative;
}
.article-video iframe {
	height: 600px;
	width: 100%;
}
.article-space {
	padding-bottom: 108px;
}
.country-featured.W-100 {
	width: 100%;
	margin: 0 0 73px;
}
.article-two {
	padding: 11px 0 9px;
}
.article-two .title-two {
	padding: 16px 0 11px;
}
.article-two .article-description {
	flex-basis: 75.9%;
}
.article-two .article {
	justify-content: space-between;
}
.article-two .article-email {
	margin: 0 5px 0 0;
	padding: 0 0 0;
}
.article-two .country-featured ul {
	padding: 10px 0 16px;
}
.article-two .country-featured li {
	padding: 10px 32px 10px;
}
.article-two .country-featured li:last-child {
	border-bottom: none;
}
.article-two .article-figure, .article-two .article-video {
	width: 78%;
}
.article-two .article-email .emailwheel-one {
	right: 50px;
	top: -84px;
}
.article-two .article-email .emailwheel-two {
	top: -61px;
}
.article-two .article-email .emailwheel-large {
	right: -68px;
	top: -63px;
}
/*Search page style start*/
.search-addvertise {
	padding: 35px 0 24px;
}
.search-wrap .title h2 {
	margin-bottom: 21px;
	font-size: 20px;
	text-transform: lowercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.search-wrap .sort-select {
	width: 290px;
	margin: -23px 4px 12px 0;
}
.blog-area > ul > li {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
/*.blog-area > ul > li:last-child{
 margin-right: 0;
 }*/
.blog-area > ul > li:hover {
	box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);
}
.search-area > ul > li.w-100 {
	box-shadow: none;
}
.search-area .feature {
	position: absolute;
	right: 0;
	top: 15px;
	background-color: #c3040c;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	padding: 5px 10px;
	text-transform: uppercase;
	z-index: 1;
}
.search-area figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #31aade;
	padding: 9px 12px;
}
.search-area figcaption span {
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	margin-bottom: 4px;
}
.search-area figcaption strong {
	font-size: 30px;
	font-family: 'Knewave', cursive;
	color: #fff;
	display: block;
	font-weight: 400;
	letter-spacing: 1.2px;
}
.search-area figcaption strong span {
	text-transform: lowercase;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 0 10px;
}
.search-area .blog-body {
	padding: 11px 13px 20px;
}
.search-area .blog-body .right {
	align-self: flex-end;
}
.search-area .blog-body li {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	margin: 0 16px 0 0;
	width: auto;
}
.search-area .blog-body li:last-child {
	margin-right: 0;
}
.search-area .blog-body ul {
	margin-bottom: 5px;
}
.search-area .blog-body .left {
	width: calc(100% - 165px);
	width: -webkit-calc(100% - 165px);
}
.search-area .blog-body .right {
	width: 131px;
}
.search-area .blog-body .left strong, .search-area .blog-body .left span {
	display: inline-block;
}
.search-area .icon-moon {
	background-position: -70px -129px;
	width: 13px;
	height: 13px;
	margin-right: 7px;
}
.search-area .icon-time {
	background-position: -98px -127px;
	width: 15px;
	height: 15px;
}
.search-area  .blog-body p {
	white-space: unset;
	overflow: hidden;
	text-overflow: ellipsis;
}
.para-ellipsis a {
	display: none;
}
.search-area .blog-more {
	margin-top: -21px;
}

/*Search page style end*/

/*Brochure page style start*/
.brochure-addvertise {
	padding: 34px 0 26px;
}
.brochure-wrap .country-slider-wrap {
	width: 79.8%;
}
.brochure-wrap .title-two {
	background-color: #3a3a39;
	padding: 14px 24px;
	margin-bottom: 15px;
}
.brochure-wrap .article-ninja {
	color: #fff;
}
.brochure-wrap .title-two h1 {
	color: #fff;
	margin: 0;
}
.brochure-wrap .featured-by-country {
	margin-right: 7px;
}
.brochure-price {
	background-color: #31aade;
	padding: 19px 20px 19px 0;
	text-align: center;
}
.brochure-price strong {
	font-family: 'Knewave', cursive;
	font-size: 40px;
	color: #fff;
}
.brochure-price sub {
	font-size: 15px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin-left: 15px;
}
.deal-date {
	text-align: center;
	border-bottom: 1px solid #cecccc;
	position: relative;
}
.brochure-featured .deal-date li {
	display: inline-block;
	width: 32.2%;
	border: none;
	padding: 27px 0 21px;
}
.brochure-featured li {
	padding: 24px 32px 21px;
}
.brochure-featured li:last-child {
	border: none;
}
.brochure-featured li strong, .brochure-featured li span, .brochure-featured li a {
	line-height: 1.1;
}
.deal-date .icon-calender {
	background-position: -98px -162px;
	width: 30px;
}
.deal-date .icon-country {
	background-position: -7px -214px;
	width: 48px;
}
.deal-date .icon-moon {
	background-position: -70px -214px;
	width: 24px;
}
.deal-date i {
	height: 31px;
	margin-bottom: 10px;
}
.deal-date span {
	display: block;
	color: #3a3a39;
}
.brochure-featured .icon-map {
	background-position: -109px -210px;
	width: 22px;
	height: 31px;
}
.brochure-featured .icon-aero {
	background-position: -7px -266px;
	width: 36px;
	height: 24px;
}
.brochure-featured .icon-transfer {
	background-position: -55px -260px;
	width: 34px;
	height: 29px;
}
.brochure-featured .icon-currency {
	background-position: -101px -258px;
	width: 33px;
	height: 33px;
}
.brochure-featured .icon-blue-moon {
	background-position: -7px -308px;
	width: 22px;
	height: 22px;
}
.brochure-featured .icon-discount {
	background-position: -46px -311px;
	width: 24px;
	height: 24px;
}
.brochure-featured .d-flex {
	position: relative;
	padding-left: 45px;
}
.brochure-featured .d-flex i {
	position: absolute;
	top: 2px;
	left: 0;
}
.brochure-content {
	padding: 31px 0 97px;
}
.brochure-content .article-info span {
	font-size: 20px;
	color: #626262;
	line-height: 30px;
	padding-right: 60px;
	display: block;
	letter-spacing: 0.8px;
}
.brochure-content .article-info p {
	letter-spacing: 0.8px;
	margin-bottom: 30px;
}
.brochure-content .article-info {
	margin-left: -6px;
}
.travel-logo {
	text-align: center;
	padding: 21px 18px 12px;
	border: 1px solid #dddddc;
}
.travel-logo a {
	margin-bottom: 10px;
}
.travel-logo address {
	font-size: 16px;
	color: #3a3a39;
	line-height: 1.4;
}
.brochure-tab li a {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #31aade;
	padding: 5px 20px;
	display: block;
}
.brochure-tab > ul > * {
	flex: 1 auto;
}
.brochure-tab > ul > li:first-child {
	flex: 0 auto;
}
.brochure-tab li:last-child a {
	background-color: #0284bc;
}
.brochure-tab-content {
	display: none;
}
.brochure-tab-content.active {
	display: block;
}
.brochure-phone {
	background-color: #0284bc;
	padding: 30px;
}
.brochure-phone a {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 4px;
}
.brochure-phone span {
	color: #fff;
}
.brochure-content .article-email {
	margin: 0 0 0 14px;
	padding: 0;
}
.brochure-content .email-content {
	padding: 30px 17px 13px;
}
.brochure-holiday .more-holiday {
	padding: 30px 0 0;
}

/*Brochure page style end*/
.brochure-news {
	background-color: #f7f7f8 !important;
}
/*article profile page style start*/
.profile-content {
	padding: 2px 0 9px;
}
.profile-content .title-two h1 {
	font-weight: 400;
}
.profile-content .article-ninja {
	margin-bottom: 8px;
}
.profile-content .title-two {
	padding: 16px 0 0;
}
.profile-content .title-two  h1 {
	font-family: 'Knewave', cursive;
	margin: 0;
}
.profile-content .article-description p, .profile-content .article-description span {
	font-size: 20px;
	color: #626262;
	line-height: 30px;
	margin-bottom: 30px;
	padding-right: 37px;
	letter-spacing: 0.9px;
}
.profile-content .article-description span {
	margin: 0;
}
.profile-content .article-description {
	padding: 33px 0 0;
}
.profile-content .article-email {
	margin: 0 0 0 14px;
	padding: 0;
}
.profile-content .email-content {
	padding: 28px 16px 13px;
	margin-bottom: 21px;
}
.agent-holiday .more-holiday {
	padding: 0;
}
.agent-holiday {
	margin-bottom: 44px;
}

/*article profile page style end*/

.brochure-holiday .feature,.agent-holiday .feature {
	display: none;
}

.red {
	position: absolute;
	width: 100%;
	bottom: -19px;
	left: 0;
	font-size: 14px !important;
	color: red !important;
}
#sticky-add{
	z-index: 9999;
}
